:root {
  --title-color: #212121;
  --first-color: #757575;
  --second-color: #ffffff;
  --accent-color: #2196f3;
  --main-background-color: #f5f4fa;
  --main-padding: 94px;
  --main-margin: 30px;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--title-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  font-family: "Raleway", Tahoma, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  display: block;
}

.header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo--dark {
  color: #000000;
}

.header {
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
}

.menu-list {
  display: flex;
}

.menu-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-list__link:hover, .menu-list__link:focus {
  color: var(--accent-color);
}
.menu-list__link.current {
  color: var(--accent-color);
}

.link.current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  background: var(--accent-color);
  border-radius: 2px;
}

.menu-list__item:not(:last-child) {
  margin-right: 50px;
}

.connection {
  display: flex;
  margin-left: auto;
}

.connection__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.connection__link:hover, .connection__link:focus {
  color: var(--accent-color);
}
.connection__link:not(:last-child) {
  margin-right: 50px;
}

.connection__icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  background-color: #2f303a;
  padding-top: 118px;
  padding-bottom: 118px;
}

.hero__title {
  width: 100%;
  margin: 0 auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-color);
  margin-bottom: var(--main-margin);
}

.hero__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--second-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  padding: 10px 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
}

.feature {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .feature {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
  }
}

.feature__bg {
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: var(--main-margin);
  padding: 25px;
}

.feature__icon {
  display: block;
  margin: 0 auto;
}

.feature__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .feature__title {
    text-align: left;
  }
}

.feature__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-color);
}

.feature__list {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .feature__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.feature__item {
  margin-bottom: var(--main-margin);
}
@media screen and (min-width: 768px) {
  .feature__item {
    width: calc(50% - 30px);
    margin-left: var(--main-margin);
    margin-bottom: var(--main-margin);
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    width: calc(25% - 30px);
  }
}

.about {
  /* padding-top: var(--main-padding); */
  padding-bottom: var(--main-padding);
}
@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

.about-list {
  display: flex;
  margin-left: -30px;
}

.about-item {
  flex-basis: calc(33.3333333333% - 30px);
  margin-left: var(--main-margin);
  position: relative;
}

/* .about-item:not(:last-child) {
  margin-right: var(--main-margin);
} */
.applications {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--second-color);
  padding: 27px 0px;
}

.about-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 50px;
}

.team-title {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: var(--main-margin);
}

.team {
  background-color: var(--main-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
  }
}

.team-list {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team-item {
  margin-bottom: var(--main-margin);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-item {
    width: calc(50% - 30px);
    margin-left: var(--main-margin);
    margin-bottom: var(--main-margin);
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    width: calc(25% - 30px);
  }
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 10px;
  padding-top: 30px;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
  margin-bottom: 16px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}

/* .team-soc-item + .team-soc-item {
  margin-left: 10px;
} */
.team-soc-item:not(:last-child) {
  margin-right: 10px;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  background-color: var(--second-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: var(--accent-color);
  color: var(--second-color);
}

.team-soc-icon {
  fill: currentColor;
}

/* .team-soc-link:hover .team-soc-icon {
  fill: var(--second-color);
} */
/*
.team-item:not(:last-child) {
  margin-right: var(--main-margin);
} */
/* .team-soc-link:hover .team-soc-icon {
  fill: var(--second-color);
} */
.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
  }
}

.clients-title {
  font-style: normal;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: var(--main-margin);
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.clients-item {
  width: calc(50% - 30px);
  margin-left: var(--main-margin);
  margin-bottom: var(--main-margin);
}
@media screen and (min-width: 768px) {
  .clients-item {
    width: calc(33.3333333333% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    width: calc(16.6666666667% - 30px);
  }
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  padding: 16px 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover, .clients-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.clients-icon {
  fill: currentColor;
}

.footer-content {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (min-width: 768px) {
  .footer-address-tab {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-content .container {
    display: flex;
  }
}

.footer-address {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-address {
    margin-right: 70px;
  }
}

.logo__footer {
  margin-bottom: 20px;
}

.logo--light {
  color: var(--second-color);
}
@media screen and (min-width: 1200px) {
  .logo--light {
    margin-bottom: 93px;
  }
}

.address-list {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .address-list {
    margin-top: 20px;
  }
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address:hover, .address:focus {
  color: var(--accent-color);
}

.address-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-footer:hover, .address-footer:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .contact-address:not(:last-child) {
    margin-bottom: 9px;
  }
}

@media screen and (min-width: 1200px) {
  .social-media {
    padding-top: 72px;
    padding-bottom: 100px;
  }
}

.social-media-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--second-color);
  margin-bottom: 20px;
}

.social-media-list {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .social-media-list {
    margin-right: 93px;
  }
}

.social-media-item:not(:last-child) {
  margin-right: 10px;
}

.social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--second-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link:hover, .social-media-link:focus {
  background-color: var(--accent-color);
}

.social-media-icon {
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .soc-sending {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .sending {
    display: flex;
    align-items: flex-end;
    padding-top: 72px;
    padding-bottom: var(--main-padding);
  }
}

.sending-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--second-color);
  margin-bottom: 20px;
}

.form-mail {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .form-mail {
    display: block;
    margin: 0 auto;
    width: 450px;
    height: 50px;
    margin-bottom: 20px;
  }
}

.input-mail {
  width: 100%;
  height: 50px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 0 15px 16px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-mail:focus {
  border-color: var(--accent-color);
  color: rgba(255, 255, 255, 0.3);
}
@media screen and (min-width: 768px) {
  .input-mail {
    width: 450px;
    height: 50px;
  }
}

.sending-btn {
  width: 200px;
  height: 50px;
  padding: 10px 0 10px 29px;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--second-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.sending-btn:hover, .sending-btn:focus {
  background-color: #188ce8;
}

.iconsend {
  fill: currentColor;
  margin-left: 10px;
}

.works {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .works {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
  }
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -15px;
  margin-left: -8px;
}
@media screen and (min-width: 768px) {
  .button-list {
    justify-content: center;
  }
}

.work-button {
  margin-bottom: 15px;
  margin-left: 8px;
}

.button-item {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--main-background-color);
  cursor: pointer;
  border-radius: 4px;
  border: transparent;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-item:hover, .button-item:focus {
  color: var(--second-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-list .button-item.current {
  color: var(--second-color);
  background-color: var(--accent-color);
}

.work-list {
  margin-top: 40px;
  margin-left: -30px;
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .work-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }
}

.work-item {
  margin-left: 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .work-item {
    width: calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .work-item {
    width: calc(33.3333333333% - 30px);
  }
}

.work-link:hover {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.title-text {
  padding: 20px 24px;
  background: #ffffff;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.work-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .grow {
    padding-bottom: 36px;
  }
}

.work-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--first-color);
}

.work-wrap {
  position: relative;
  overflow: hidden;
}

.work-text-second {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--second-color);
  height: 100%;
  padding: 24px;
  overflow-y: scroll;
}
@media screen and (min-width: 480px) {
  .work-text-second {
    padding: 77px 24px 0 24px;
  }
}
@media screen and (min-width: 768px) {
  .work-text-second {
    padding: 49px 24px 77px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .work-text-second {
    padding: 63px 24px;
  }
}
.work-item:hover .work-text-second {
  transform: translateY(0%);
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background-color: var(--second-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
}
.backdrop.is-hidden .modal {
  transform: scale(0.5);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 6px;
  display: flex;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--accent-color);
}

.modal-title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 12px;
}

.input-item {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-item:focus {
  border-color: var(--accent-color);
}

.modal-comment {
  margin-bottom: 20px;
}

.modal-item-lbl {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--first-color);
  margin-bottom: 4px;
}

.modal-item {
  margin-bottom: 10px;
}

.input-item-com {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  padding: 12px 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-item-com::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.input-item-com:focus {
  border-color: var(--accent-color);
}

textarea {
  resize: none;
}

.form-field {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.input-item:focus + .modal-icon {
  fill: var(--accent-color);
}

.agree {
  padding-left: 13px;
  margin-bottom: var(--main-margin);
}

.check-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-color);
  display: flex;
  align-items: center;
}

.check-text span {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #000000;
  border-radius: 3px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.input-check:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}
.input-check:focus + .check-text span {
  border-color: var(--accent-color);
}

.icon-check {
  fill: transparent;
}
.input-check:checked + .check-text .icon-check {
  fill: var(--second-color);
}

/* .check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #000000;
  border-radius: 3px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-check:checked + .check-text::before {
  background-color: var(--accent-color);
  border: none;
  background-image: url(../images/vector_check.svg);
  background-repeat: no-repeat;
  background-position: center;
} */
.agreement-contract {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
  /* margin: 0 auto; */
}

.sending-button {
  padding: 10px 55px 10px 56px;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--second-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.sending-button:hover, .sending-button:focus {
  background-color: #188ce8;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */