.logo {
  font-family: "Raleway", Tahoma, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  display: block;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 24px;
    line-height: 1.17;
  }
}

.header__logo {
  @media screen and (min-width: 768px) {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header__logo--dark {
  color: #000000;
}
