.header {
  border-bottom: 1px solid #ececec;
  .container {
    display: flex;
    align-items: center;
  }
}

.menu-list {
  display: flex;
}

.menu-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &.current {
    color: var(--accent-color);
  }
}

.link.current::after {
  @media screen and (min-width: 768px) {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    background: var(--accent-color);
    border-radius: 2px;
  }
}

.menu-list__item:not(:last-child) {
  margin-right: 50px;
}

.connection {
  @media screen and (max-width: 767px) {
    display: none;
  }
  display: flex;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
    margin-left: 84px;
    padding: 21px 0;
  }
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

.connection__link--tab {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--first-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    &:first-child {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.connection__icon--tab {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    fill: currentColor;
    margin-right: 8px;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.connection__link--desk {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--first-color);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: none;
  }
}

.connection__icon--desk {
  @media screen and (min-width: 1200px) {
    fill: currentColor;
    margin-right: 10px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: none;
  }
}

.navigation {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.navigation-mobile,
.connection-mobile,
.social-mobile {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.nav-mobile-menu {
  position: fixed;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  padding-top: 10px;
  padding-bottom: 48px;
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-mob-top {
  width: 100%;
}

.menu-mob-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--title-color);
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &.current {
    color: var(--accent-color);
  }
}

.menu-mob-item:not(:last-child) {
  margin-bottom: 32px;
}

.connection-mob {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 32px;
  width: 100%;
}

.connection-mail {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--first-color);
  margin-bottom: 64px;
}

.social-mob-list {
  display: flex;
  flex-wrap: wrap;
}

.social-mob-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

// .social-mob-item {
//   position: relative;
// }

// .social-mob-item::before {
//   content: "";
//   width: 22px;
//   height: 0px;
//   border: 1px solid rgba(33, 33, 33, 0.2);
//   transform: rotate(90deg);
//   margin-left: 10px;
//   margin-right: 10px;
// }

.social-mob-line {
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-left: 10px;
  margin-right: 10px;
}

.menu-close-btn {
  display: block;
  border: none;
  background-color: transparent;
  margin-left: auto;
  padding: 11px;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-open-btn {
  margin-left: auto;
  border: none;
  background-color: transparent;
  padding: 12px 8px;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
