.team-title {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: var(--main-margin);
}

.team {
  background-color: var(--main-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
  }
}

.team-list {
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team-item {
  margin-bottom: var(--main-margin);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
    margin-left: var(--main-margin);
    margin-bottom: var(--main-margin);
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - 30px);
  }
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 10px;
  padding-top: 30px;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
  margin-bottom: 16px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}

/* .team-soc-item + .team-soc-item {
  margin-left: 10px;
} */

.team-soc-item:not(:last-child) {
  margin-right: 10px;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  background-color: var(--second-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--second-color);
  }
}

.team-soc-icon {
  fill: currentColor;
}

/* .team-soc-link:hover .team-soc-icon {
  fill: var(--second-color);
} */

/*
.team-item:not(:last-child) {
  margin-right: var(--main-margin);
} */

// .team-title {
//   font-size: 36px;
//   line-height: 1.17;
//   text-align: center;
//   letter-spacing: 0.03em;
//   color: var(--title-color);
//   margin-bottom: 50px;
// }

// .team {
//   background-color: var(--main-background-color);
//   padding-top: var(--main-padding);
//   padding-bottom: var(--main-padding);
// }

// .team-list {
//   display: flex;
//   margin-left: -30px;
// }

// .team-item {
//   flex-basis: calc(100% / 4 - 30px);
//   margin-left: var(--main-margin);
//   background: #ffffff;
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 0px 0px 4px 4px;
// }
// /*
// .team-item:not(:last-child) {
//   margin-right: var(--main-margin);
// } */

// .team-name {
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.19;
//   text-align: center;
//   letter-spacing: 0.03em;
//   color: var(--title-color);
//   margin-bottom: 10px;
// }

// .team-position {
//   font-size: 16px;
//   line-height: 1.19;
//   text-align: center;
//   letter-spacing: 0.03em;
//   color: var(--first-color);
//   margin-bottom: 16px;
// }

// .name-position {
//   padding: 30px 0px;
// }

// .team-soc-list {
//   display: flex;
//   justify-content: center;
// }

// /* .team-soc-item + .team-soc-item {
//   margin-left: 10px;
// } */

// .team-soc-item:not(:last-child) {
//   margin-right: 10px;
// }

// .team-soc-link {
//   width: 44px;
//   height: 44px;
//   background-color: var(--second-color);
//   border-radius: 50%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   color: #afb1b8;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover,
//   &:focus {
//     background-color: var(--accent-color);
//     color: var(--second-color);
//   }
// }

// .team-soc-icon {
//   fill: currentColor;
// }

/* .team-soc-link:hover .team-soc-icon {
  fill: var(--second-color);
} */
